@charset "utf-8";
/* CSS Document */

.head{
	font-size:1.2em;
	font-family:"Courier New", Courier, monospace;
	font-style:italic;

	border:2px #000 solid;
	border-left:1px;
	border-right:0px;
	margin:0px;
	font-weight:bold;
	}
b{
	color:#F00;
	font-weight:400;
	font-size:0.5em;
	font-family:Verdana, Geneva, sans-serif;
	font-style:normal;}
img{
	border:none;}
.class{
	border-left:1px #000 solid;
	border-bottom:1px #000 solid;
	border-top:0px;
	}
tr{
	
	margin:0px;}

.heji a{
	text-align:right;
	font-size:1.1em;
	font-weight:bold;}

.head a{
	font-size:0.6em;
	font-weight:100;}

